* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Verdana;
}
a {
  color: #555;
  text-decoration: none;
}
*:focus {
  outline: 0;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.main-menu {
  background: #ddd;
}
.main-menu__list {
  zoom: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-menu__list:before,
.main-menu__list:after {
  content: "";
  display: table;
}
.main-menu__list:after {
  clear: both;
}
.main-menu__item {
  float: left;
}
.main-menu__link {
  display: inline-block;
  padding: 10px;
}
.main-menu__link.active {
  color: #fff;
  background: #ffa500;
}
.main-menu__link:hover {
  background: #ccc;
}
.bag {
  width: 70%;
  float: left;
}
.bag__top,
.bag__middle,
.bag__bottom {
  background: #ccc;
  padding: 20px;
  margin-bottom: 10px;
}
.controls {
  width: 27%;
  float: right;
}
.controls__title {
  margin: 0;
  margin-bottom: 10px;
}
.input {
  width: 100%;
  margin-bottom: 10px;
}
.price {
  width: 27%;
  float: right;
  font-size: 2em;
  color: #f00;
  margin: 0;
}
.orange {
  background: #ffa500;
}
.green {
  background: #008000;
}
.brown {
  background: #a52a2a;
}
.blue {
  background: #00f;
}
.red {
  background: #f00;
}
